body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    font-size: 16px;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
    float: left;
    width: 33.33%;
    text-align: center;
    background-color: #ddd;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 5px;
}

li:hover {
    background-color: #bbb;
}

select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

section {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html {
    scroll-behavior: smooth;
}